<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954546600275-80f63r7gj9ohto7v3vd72k0m2vcktdhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954546600275-80f63r7gj9ohto7v3vd72k0m2vcktdhc</string>
	<key>API_KEY</key>
	<string>AIzaSyCX_cyv5IxsstVQGeABYXqs9llaH97qVXk</string>
	<key>GCM_SENDER_ID</key>
	<string>954546600275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stadtfalke.development</string>
	<key>PROJECT_ID</key>
	<string>stadtfalkemain</string>
	<key>STORAGE_BUCKET</key>
	<string>stadtfalkemain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954546600275:ios:40d1d0c59d91003f</string>
	<key>DATABASE_URL</key>
	<string>https://stadtfalkemain.firebaseio.com</string>
</dict>
</plist>